<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Transforming Support Mileage Tracker</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type = "text/css" href="css/styles.css"/>
</head>

<body>
  
  <div class="container">

    <div class="header">

      <img src="images/tslogo.jpg" class ="logo" alt="Transforming Support logo">
      <h1>Employee Mileage Tracker</h1>
      <p>Please enter employee mileage information<br />for the current tax year below</p>

    </div>

    <div class="input-group mb-3">

      <form action="/" id="form">

        <input type="text" id="input-name" class="form-control" placeholder="Employee Name"  maxlength="18"/>
        <input type="number" id="input-mileage" class="form-control" placeholder="Current Mileage" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="6"/>

      <div class="input-group-append">

        <button type="submit" class="btn btn-primary add-employee">Add Employee</button> 

      </div>
   
      </form>

    </div>

    <ul id="mileage-tracker"></ul>

    <div id ="records" class="records-text"></div>

      <button type="button" id="delete-all" class="btn btn-link delete-all">Delete All</button>

    </div>

  <script src="js/main.js"></script>

</body>

</html>